################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/spbenchmark/spbenchmark/bin/Debug/net7.0
/spbenchmark/spbenchmark/obj
/spbenchmark/.vs/spbenchmark
